<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word-Distribution-App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/spacelab/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="nav-container">
        <nav class="navbar navbar-default navigation-clean-button" id="mainnav">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><i class="icon ion-paperclip" id="logo-icon"></i> Word Distribution</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="glyphicon glyphicon-hdd"></i>File <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#">Import Books</a></li>
                                <li role="presentation"><a href="#">Import Frequency List</a></li>
                                <li role="presentation"><a href="#">Save Frequency List</a></li>
                                <li role="presentation"><a href="#">Import Dictionary</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="glyphicon glyphicon-edit"></i>Edit <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#">First Item</a></li>
                                <li role="presentation"><a href="#">Second Item</a></li>
                                <li role="presentation"><a href="#">Third Item</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="viewmenu"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="glyphicon glyphicon-tasks"></i>View <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-import"></i>Import Books</a></li>
                                <li role="presentation"><a href="#"><i class="fa fa-calculator"></i>Word Frequency</a></li>
                                <li role="presentation"><a href="#"><i class="icon ion-arrow-graph-up-right"></i>Book Distribution</a></li>
                                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-book"></i>Book Levels</a></li>
                                <li role="presentation"><a href="#"><i class="icon ion-document-text"></i>Vocabulary Highllights</a></li>
                                <li role="presentation"><a href="#"><i class="fa fa-user"></i>Assessment </a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="#"><i class="icon ion-help-circled"></i>Help </a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" href="#">Log in</a></p>
                </div>
            </div>
        </nav>
    </div>
    <div id="main-content-block">
        <div class="container-fluid" id="content-container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-0 col-md-3 col-sm-4 hidden-xs" id="col-menu">
                    <h3 id="activity-list-label"> <i class="glyphicon glyphicon-tasks"></i> View</h3>
                    <ul class="list-group" id="main-options-list">
                        <li class="list-group-item"><i class="glyphicon glyphicon-import"></i><span> Import Books</span></li>
                        <li class="list-group-item"><span> <i class="fa fa-calculator"></i> Word Frequency</span></li>
                        <li class="list-group-item"><span><i class="icon ion-arrow-graph-up-right"></i> Book Distribution</span></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-book"></i><span> Book Levels</span></li>
                        <li class="list-group-item"><i class="icon ion-document-text"></i><span> Vocab Highlights</span></li>
                        <li class="list-group-item"><i class="fa fa-user"></i><span> Assessment</span></li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8" id="main-content"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>